@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

a {
    text-decoration:none !important;
}
p {
    line-height: 1.6;
}
.gradient-bg {
    color: white;
    height: 150px;
    width: 100%;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient-bg h2 {
    font-size: 25px;
    font-weight: 300;
}

section h2 {
    font-size: 25px;
    font-weight: 400;
}
section hr {
    width: 35px;
}

ul {
    list-style: none;
    padding: 0;
}
ul li::before {
    content: "\2022";
    color: #6367FF;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

.container{
    padding: 40px 100px 0 100px !important;
    margin: 0 auto !important;
    max-width: 900px !important;
}

section {
    padding: 20px 0 0 0; 
}

@media only screen and (max-width: 750px){
    .container{
        padding: 20px 32px 0 32px !important;
    }
    .gradient-bg {
        padding-top: 20px;
    }
}
